
.error-text {
  color: $light-red;
  padding: 0px 25px;
  visibility: hidden;
}

.new-todo {
  padding: 0 30px;
  visibility: hidden;

  .todo-content {
    input {
      width: 100%;
      //margin-left: 20px;
    }
  }

  .confirm-todo {
    float: right;

    .confirm-button {
      @include create-icon-button("green");
    }
  }

  .cancel-todo {
    float: right;
    //margin-right: 15px;

    .cancel-button {
      @include create-icon-button("red");
    }
  }
} // new-todo

.footer {
  padding: 20px 10px;
  display: flex;
  align-items: center;

  .clear-button {
    @include create-footer-button("red");
    float: right;
    font-size: 22px;
    border-radius: 5px;
    padding: 5px 15px;
  }

  .add-button {
    @include create-footer-button("green");
    float: left;
    padding: 0;
    height: 95px;
    width: 95px;
    font-size: 60px;
    border-radius: 50%;
  }
} // footer
