
.error-text {
  color: $light-red;
  padding-left: 45px;
  visibility: hidden;
  font-size: 18px;
}

.new-todo {
  padding: 0 30px;
  visibility: hidden;

  .todo-content {
    input {
      width: 100%;
    }
  }

  .confirm-todo {
    float: right;

    .confirm-button {
      @include create-icon-button("green");
    }
  }

  .cancel-todo {
    float: right;

    .cancel-button {
      @include create-icon-button("red");
    }
  }
} // new-todo

.footer {
  padding: 20px 10px;
  display: flex;
  align-items: center;

  .clear-button {
    @include create-footer-button("red");
    @extend .clear-button-font;
    float: right;
    border-radius: 5px;
    padding: 5px 15px;
  }

  .add-button {
    @include create-footer-button("green");
    @extend .add-button-font;
    float: left;
    padding: 0;
    height: 85px;
    width: 85px;
    border-radius: 50%;
  }
} // footer
