@import 'variables';


body {
  background-color: $dark-blue;
}

.interface {
  width: 90%;
  margin: 20% auto;
  display: grid;
  background-color: $grey;
  border: 3px solid $black;
  border-radius: 5px;


  .header {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .date {

    }

    .num-of-tasks {
      align-self: center;
      justify-self: end;
    }
  }

  .body {
    padding: 10px;
    background-color: #fff;
  }
}
