@import 'variables';
@import 'todo-item';
@import 'add-todo';

body {
  background-color: $dark-blue;
}


.interface {
  width: 90%;
  margin: 80px auto;
  border-radius: 6px;
  background-color: #fff;
  min-height: 60vh;

  .header {
    padding: 20px 10px;
    background-color: $light-grey;
    border-radius: 6px;
    // display: flex;
    // align-items: center;

    span {
      font-size: 30px;
    }

    .date {

    }

    .num-of-tasks {

    }
  }

  .body {
    padding: 20px 10px;
  }
}
