@import 'variables';
@import 'todo-item';
@import 'add-todo';
@import 'media-queries';

body {
  background-color: $dark-blue;
}

.interface {
  border-radius: 6px;
  background-color: #fff;
  min-height: 10vh;
  margin: 60px auto;

  .header {
    padding: 20px 10px;
    background-color: $light-grey;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    color: $black;

    span {
      @extend .heading-font;
    }
  }

  .body {
    padding: 20px 10px;
  }
} // interface
