
// Palette 1
$light-green: #7FB454;
$dark-green: #3B7E41;
$light-blue: #60AFE4;
$dark-blue: #1B4D87;
$black: #030404;
$light-grey: #F0F0F0;
$dark-grey: #ccc;
$light-red: red;
$dark-red: #B71C1C;

// Palette 2

@mixin create-icon-button($color) {
  border: none;
  background: none;
  font-size: 26px;
  font-size: 26px;

  &:focus {
    outline: 0;
  }

  &:active {
    background-color: $light-grey;
    border-radius: 4px;
  }

  @if $color == "red" {
    color: $light-red;

    &:hover {
      color: $dark-red;
    }
  } @else if $color == "green" {
    color: $light-green;

    &:hover {
      color: $dark-green;
    }
  }
}
