.todo-item {
  vertical-align: middle;
  word-wrap: break-word;
  /* The container */
  /* Create a custom checkbox */
  /* On mouse-over, add a grey background color */
  /* When the checkbox is checked, add background color */
  /* Show the checkmark when checked */ }
  .todo-item .completed-todo {
    text-decoration: line-through;
    color: #ccc; }
  .todo-item .delete .delete-button {
    border: none;
    background: none;
    font-size: 26px;
    color: red;
    float: right; }
    .todo-item .delete .delete-button:focus {
      outline: 0; }
    .todo-item .delete .delete-button:active {
      background-color: #F0F0F0;
      border-radius: 4px; }
    .todo-item .delete .delete-button:hover {
      color: #B71C1C; }
    .todo-item .delete .delete-button .delete-icon {
      vertical-align: middle; }
  .todo-item .container {
    display: block;
    position: relative;
    padding-left: 40px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    .todo-item .container input {
      /* Hide the browser's default checkbox */
      position: absolute;
      opacity: 0;
      cursor: pointer; }
  .todo-item .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background-color: #eee; }
    .todo-item .checkmark:after {
      /* Create the checkmark/indicator (hidden when not checked) */
      content: "";
      position: absolute;
      display: none;
      /* Style the checkmark/indicator */
      left: 12px;
      top: 6px;
      width: 7px;
      height: 15px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
  .todo-item .container:hover input ~ .checkmark {
    background-color: #ccc; }
  .todo-item .container input:checked ~ .checkmark {
    background-color: #7FB454; }
  .todo-item .container input:checked ~ .checkmark:after {
    display: block; }

.error-text {
  color: red;
  padding: 0px 25px;
  visibility: hidden; }

.new-todo {
  padding: 0 30px;
  visibility: hidden; }
  .new-todo .todo-content input {
    width: 100%; }
  .new-todo .confirm-todo {
    float: right; }
    .new-todo .confirm-todo .confirm-button {
      border: none;
      background: none;
      font-size: 26px;
      color: #7FB454; }
      .new-todo .confirm-todo .confirm-button:focus {
        outline: 0; }
      .new-todo .confirm-todo .confirm-button:active {
        background-color: #F0F0F0;
        border-radius: 4px; }
      .new-todo .confirm-todo .confirm-button:hover {
        color: #3B7E41; }
  .new-todo .cancel-todo {
    float: right; }
    .new-todo .cancel-todo .cancel-button {
      border: none;
      background: none;
      font-size: 26px;
      color: red; }
      .new-todo .cancel-todo .cancel-button:focus {
        outline: 0; }
      .new-todo .cancel-todo .cancel-button:active {
        background-color: #F0F0F0;
        border-radius: 4px; }
      .new-todo .cancel-todo .cancel-button:hover {
        color: #B71C1C; }

.footer {
  padding: 20px 10px;
  display: flex;
  align-items: center; }
  .footer .clear-button {
    border: none;
    color: #fff;
    box-shadow: 1px 3px 10px 6px #ccc;
    background-color: red;
    float: right;
    font-size: 22px;
    border-radius: 5px;
    padding: 5px 15px; }
    .footer .clear-button:focus {
      outline: 0; }
    .footer .clear-button:hover {
      background-color: #B71C1C; }
    .footer .clear-button:active {
      background-color: red; }
  .footer .add-button {
    border: none;
    color: #fff;
    box-shadow: 1px 3px 10px 6px #ccc;
    background-color: #7FB454;
    float: left;
    padding: 0;
    height: 95px;
    width: 95px;
    font-size: 60px;
    border-radius: 50%; }
    .footer .add-button:focus {
      outline: 0; }
    .footer .add-button:hover {
      background-color: #3B7E41; }
    .footer .add-button:active {
      background-color: #7FB454; }

body {
  background-color: #1B4D87; }

.interface {
  width: 90%;
  margin: 80px auto;
  border-radius: 6px;
  background-color: #fff;
  min-height: 60vh; }
  .interface .header {
    padding: 20px 10px;
    background-color: #F0F0F0;
    border-radius: 6px; }
    .interface .header span {
      font-size: 30px; }
  .interface .body {
    padding: 20px 10px; }
